hello quiz

<%= @current_question.question_text %>

<%= form_for(@user_answer) do |f| %>
  <div>
    <%= f.text_area :answer_text %>
  </div>

  <div>
    <%= f.submit "Next Question" %>
  </div>
<% end %>